/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

Hi Alex, ik heb geen idee waar ik mijn commentaar moet zetten. Dus ik doe het maar hier :P

/* Schrijf hier  jouw CSS! */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-basis: 300px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

Opdracht 1.3 heb je op dezelfde manier gedaan als ik, in de verwerkingen hebben ze gewerkt met flex-grow en flex-shrink en de styling verdeelt in class left en right.

Ligt het aan mij of mis ik hier de uitwerking van 1.4?


.five {
    display: flex;
    flex-wrap: wrap;
}

article {
    box-sizing: border-box;
    flex-basis: 400px;
    flex-grow: 1;
}

Deze heb ik persoonlijk zonder border-box gedaan, werkte ook prima, in de uitwerkingen zetten ze ook nog flex-shrink op 0.

hele schone code  
