* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #F2F3D9;
    font-family: Arial, serif;
}

header {
    display: flex;
    background-color: #030027;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

header p {
    flex-shrink: 0;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style: none;
    flex-basis: 400px;
    flex-shrink: 1;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

main {
    display: flex;
    padding: 20px;
    flex-shrink: 1;
    justify-content: center;
}

article {
    display: flex;
    background-color: #C16e70;
    padding: 20px;
    border-radius: 10px;
    flex-basis: 340px;
    height: 350px;
    width: 280px;
    margin: 10px;
    align-items: flex-end;
    text-align: center;
    overflow: auto;
}